@model Models.News.NewsDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NewsDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDLC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDLC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateReleaseDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
