@model IEnumerable<Models.News.NewsListItem>

@{
    ViewBag.Title = "Index";
}

<h2 id="pageTitles">News and Updates</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-dark text-center">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDLC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateReleaseDate)
        </th>
        <th>
            Edit | Details | Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDLC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateReleaseDate)
            </td>
            <td class="myIcons">
                @Html.ActionLink(" ", "Edit", new { id = item.NewsId }, new { @class = "bi bi-pencil-fill", @style = "font-size: 25px;" }) |
                @Html.ActionLink(" ", "Details", new { id = item.NewsId }, new { @class = "bi bi-search", @style = "font-size: 25px;" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.NewsId }, new { @class = "bi bi-trash", @style = "font-size: 25px;" })
            </td>
        </tr>
    }
</table>

<p class="lowerLinks">
    @Html.ActionLink("Create New", "Create") <i class="bi bi-newspaper" style="font-size: xx-large"></i>
</p>