@model Models.FavoritesList.FavoritesDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FavoritesDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Hidden("ListId", Model.ListId)
        <dt>
            @Html.DisplayNameFor(model => model.ListId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
