@model Models.Game.GameDetail

@{
    ViewBag.Title = "Delete";
}

<h3 id="pageTitles">Are you sure you want to DELETE this game?</h3>

<div class="formsTextColor">
    <hr />
    <dl class="dl-horizontal" style="color: var(--grn);">
        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.IsReleased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReleased)
        </dd>

        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.EarlyAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlyAccess)
        </dd>

        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.GameWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameWebsite)
        </dd>

        <dt class="font-weight-bolder">
            @Html.DisplayNameFor(model => model.IsOwned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOwned)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="lowerLinks">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
