@model Models.Game.GameDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-success">Details</h2>

<div>
    <hr />
    <table class="table table-dark text-center">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarlyAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOwned)
            </th>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Genre)
            </td>
            <td>
                @Html.DisplayFor(model => model.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsReleased)
            </td>
            <td>
                @Html.DisplayFor(model => model.EarlyAccess)
            </td>
            <td>
                @Html.DisplayFor(model => model.GameWebsite)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsOwned)
            </td>
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
