@model IEnumerable<Models.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <style type="text/css">.table th, .table td {text-align: center;}</style>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOwned)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOwned)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GameId }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
            </td>
        </tr>
    }

</table>
